* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}
/* Header Part Start From Here */
header{
    width: 100%;
    border: 1px solid rgb(232, 231, 231);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}
.header_container img{
    height: 40px;
    margin-top: 20px;
    margin-right: 64px;
    
    }
    .how_its_work{
        margin-right: 20px;
    }
    .rightsection h4 a{
        display: inline;
        padding: 8px;
        font-size: 14px;
        color: #4cb1c3;
        border: 1px solid #4cb1c3;
        text-decoration: none;
    }
    .rightsection h4 a:hover{
        text-decoration: none;
        color: #d94f5a;

        background-color: #fff;
    }
    .header_container{
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .connect_login_space{
        align-items: center;
        flex: 1;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
    }
    .rightsection{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .header_right_part a{
        color: #4cb1c3;
        text-decoration: none;
    }
    .chekbtn{
        float: right;
        margin-top: 50px;
        line-height: 135px;
        margin-right: 18px;
        cursor: pointer;
        display: none;
    }
    .mobile_menu_set>h4{
        text-align: center;
        margin-top: 10px;
        display: none;
    }
    .mobilemenusetup{
        display: none;
    }
    @media only screen and (max-width: 487px){
        .rightsection h4{
            display: none;
        }
        .header_right_part{
            display: none;
        }
        .mobile_menu_set>h4{
            display: block;
        }
        .chekbtn{
            display: block;
            width: 12px;
            margin-left: 5px;
        }
        .mobilemenusetup{
            display: block;
           text-align: center;
        }
        img .chekbtn{
            width: 100px;
        }
        
    }
    /* ///////////////Result PAge///////////// */
    #options_of_result {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }

  .Search_container {
      width: 100%;
  }

  .Search_container input[type="checkbox"] {
      margin-right: 5px;
  }

  .Search_container select,
  .Search_container input[type="text"],
  .Search_container input[type="submit"] {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
  }



    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #4cb1c3;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 8px;
  }

  input[type="checkbox"]:checked {
      background-color: #4cb1c3;
      border-color: #4cb1c3;
  }


/*////////////Main Of Search page Start Here//////////////  */
.srch_result {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    margin-left: 61px;
  }
  
  .result329 h6,
  .sortby h6 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .sortby {
    display: flex;
    align-items: center;
  }
  
  .relavancy select {
    font-size: 14px;
  }
  .grid-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    row-gap: 4px;
    column-gap: 40px;
    overflow-x: hidden;
  }
  .grid-item {
    text-align: center;
  
  }
  .image_with_text {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .top-left h6{
    font-size: 12px;
    color: #d94f5a;
    border: 2px solid #ffffff;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 3px;
    padding-right: 2px;
    margin-left: -5px;
    border-radius: 3px;
    font-weight: 200;
    background-color: #fff;
    opacity: 0.7;
    text-transform: uppercase;
  }

  .image_with_text img {
    max-width: 100%;
    width: 450px;
    height: 280px;
  }
  
  .grid-item h5 {
    float: left;
  }
  
  .volunteer_lg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .bottom_design {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo-and-text {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
  }

  .bottom_design {
    margin-left: 0;
  }
  
  .bottom_design h5 {
    font-size: 14px;
  }
  
  .bottom_design h6 {
    font-size: 12px;
  }  
  /* Styles for smaller screens */
  @media only screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: auto auto;
      column-gap: 20px;
      margin-right: 20px;
      margin-left: 20px;
    }
  
    .image_with_text img {
      width: 100%;
      height: 280px;
    }
  }
  
  /* Additional styles for even smaller screens */
  @media only screen and (max-width: 480px) {
    .grid-container {
      grid-template-columns: auto;
      column-gap: 10px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  @media only screen and (min-width: 1552px) {
    .image_with_text img {
        max-width: 150%;
        width: 500px;
        height: 280px;
      }
  } 
  @media only screen and (min-width: 1730px) {
    .image_with_text img {
        max-width: 150%;
        width: 550px;
        height: 280px;
      }
  } 

  .footer_main{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(69 72 72);
    justify-content: space-between;
    align-items: center;
  }
  .text_fot{
    display: flex;
    margin-right: 50px;
  }
  .logo_fot img{
    margin-left: 50px;
    width: 120px;
  }
  .contact_us_fot > h4, .faq >h4{
    font-size: 16px;
    padding-left: 30px;
    color: #ffffff;
  }
  /* Remove Footer Of Site */
  @media  only screen and (max-width: 760px){
  footer{
    display: none;
  }
} 

.Search_container{
  margin-left: 42px;
  margin-right: 40px;
}
 .Search_container select,
  .Search_container input[type="text"],
  .Search_container input[type="submit"] {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
  }


.carousel-control-next-icon{
  margin-bottom: 101px;
  width: 50px;
  font-size: 20px;
}
.carousel-control-next-icon {
  background-image: url("assets/right-white-arrow.png") !important;
  width: 11px;
  height: 24px;
  opacity: 1;
}
.logo-and-text >img{
  margin-top: -18px;
}
.logo-and-text>h6{
  margin-top: -8px;
}
p{
  margin-top: -12px;
  margin-bottom: 25px;
}
input[type="checkbox"] {
  margin-right: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #d94f5a;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}


input[type="checkbox"]:checked::before {
  content: '\2713';
  display: inline-block;
  font-size: 20px;
  width: 16px;
  height: 16px;
  color: rgb(255, 255, 255);
  background-color: #d94f5a;
  line-height: 20px;
  border-radius: 9%;
}
.mob_cont{
display: none;
}
/* For Mobile View Code Start here */
@media only screen and (max-width: 480px) {
  .Search_container{
    display: none;
  }
  .mob_cont{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .editicon img{
    margin-left: 5px;
    margin-right: 10px;
    border: 2px solid #4cb1c3;
    padding: 4px;
    border-radius: 4px;

  }
  .more_flt_btn{
    margin-top: -20px;
    margin-left: 12px;
    margin-top: 0px !important;
  }
}
.text_res h5{
  font-size: 14px;
  color: #4cb1c3;
}
@media only screen and (min-width: 1859px) {
  .image_with_text img {
    max-width: 200%;
    width: 650px;
    height: 280px;
  }

}
@media only screen and (min-width: 2154px) {
  .image_with_text img {
    max-width: 250%;
    width: 750px;
    height: 280px;
  }

}
@media only screen and (min-width: 2455px) {
  .image_with_text img {
    max-width: 300%;
    width: 850px;
    height: 280px;
  }

}
.num_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.num1{
  border: 0px solid rgb(69 72 72);
  border-radius: 3px;
  padding: 12px;
  width: 35px;
  height: 40px;
}
.num2{
  background-color: #4cb1c3;
  color: #fff;
}
.NM3:hover{
  background-color: #4cb1c3;
  color: #fff;
  cursor: pointer;
}
.faq>h4{
  text-transform: uppercase;
}
.contact_us_fot>h4{
  text-transform: uppercase;
}
.footer_main{
  padding-right: 40px !important;
}
